<po-page-dynamic-search
    p-title="Donos de Pet"
    [p-actions]="actions"
>
    <div class="po-row" *ngIf="owners">
        <!-- <div *ngFor="let owner of owners">
            {{owner.name}}
        </div> -->

        <po-widget
            *ngFor="let owner of owners"
            [p-height]="140"
            class="po-xl-3 po-lg-3 po-md-3 po-sm-12 po-mt-2"
            p-primary-label="Alterar"
            p-secondary-label="Excluir"
            (p-secondary-action)="deleteOwner(owner.id)"
            (p-primary-action)="openModalToUpdate(owner)"
        >
            <po-info
                p-label="Código"
                [p-value]="owner.id"
                [p-orientation]="orientation.Horizontal"
            >
            </po-info>

            <po-info
                p-label="Nome"
                [p-value]="owner.name"
                [p-orientation]="orientation.Horizontal"            
            >
            </po-info>
        </po-widget>

        <!-- <po-table
            [p-items]="owners"
        >
        </po-table> -->
    </div>
</po-page-dynamic-search>

<po-modal
    #ownerFormModal
    [p-title]="modalTitle"
    [p-primary-action]="modalActions[0]"
    [p-secondary-action]="modalActions[1]"
>
    <mp-owners-form
        #mpOwnersForm
        (sendOwnerFormToSave)="receiverForm($event)"
    >

    </mp-owners-form>
</po-modal>